html, body {
    background-color: lightgrey;
    height: 100%;
    }

.control {
    border-bottom: solid 2px rgb(90, 90, 90);
}
.input {
    width: 34em;
    margin: 1em 0 1em 1em;
}

#navbar {
    background-color: #696969;
}

.button {
    margin: 1em 0 0 0;
}


.box-custom {
    min-height: 18em;
    border-radius: 6px;
    color: white;
    background-color: #696969;
    box-shadow: 5px 5px 4px rgb(90, 90, 90);
    padding: 1.25rem;
    font-family: 'Roboto', sans-serif;
}

#priceDisp { 
    margin: 1em;
}

#headLineDisp {
    margin: 1em; 
    font-family: 'Roboto', sans-serif;
    
}

a {
    color:rgb(89, 205, 255);
    font-weight: 800;
    font-size: larger;
}

a:hover {
    color: #000000;
}

a:visited {
    color: rgb(255, 151, 113);
} 

a:visited:hover {
    color: #000000
}
#result-select {
    width: 600px;
}

#artTitle {
    font-size:larger;
    font-weight:bolder;
}
