body {
    background-color: lightgray;
}

.input {
width: 34em;
margin: 1em 0 1em 1em;
}

#navbar {
    background-color: dimgray;
}

.button {
    margin: 1em 0 0 0;
}

.box {
    min-height: 18em;
    background-color: gray;
    margin-right: 1em;
}

#coinName {
    margin-right: 0;
}
